# Environnements Python
__pycache__/
*.py[cod]
*$py.class
.Python
p7_bert/
*.so

# MLflow & Optuna
mlruns/
mlflow_artifacts/
optuna/

# Datasets
dataset/

# Modèles entraînés
sentiment_model_tf/
distilbert_tokenizer/
tokenizer_*/
temp_tokenizer/
*.model
*.h5
*.pkl

# Fichiers macOS
.DS_Store

# SQLite
*.sqlite3
*.db

# Fichier init Python vide
app/__init__.py

# Dossiers temporaires/tests
copy/
test-azure/
app-test/
app-test1/
azure_test_exp/
assets/
optuna_test.ipynb
microsoft_exo1.ipynb
Model_tf_non_reduit.py
test_check_model.ipynb
models/
models_final/
# archives dev locales
dev/

# Versions de test TFLite
app/model.tfliteV*
app/model_test.tflite
app/Model_to_tflite.py
app/model_keras/
app/model.tflite

# Fichiers sensibles 
.env
**/.env

# Scripts de test manuel
test_manuel/
app/test_manuel/

# Fichiers envi
app/environment*.yml
environment.yml
environment_min.yml
environment_nobuilds.yml


# Scripts de conversion et debug temporaires
export_*.py
find_*.py
match_*.py
list_*.py

# Images générées automatiquement
*.png
*.jpg
!docs/**/*.png
!docs/**/*.jpg




