# Environnements Python
__pycache__/
*.py[cod]
*$py.class
.Python
p7_bert/
*.so

# MLflow & Optuna
mlruns/
mlflow_artifacts/
optuna_*.db

# Datasets (trop volumineux pour Git)
dataset/

# Modèles entraînés
sentiment_model_tf/
distilbert_tokenizer/
tokenizer_*/
temp_tokenizer/
*.model
*.h5
*.pkl

# Fichiers macOS
.DS_Store

# SQLite
*.sqlite3
*.db

# Dossiers temporaires/tests
copy/
test-azure/
app-test/

# Fichiers divers
*.webp
# Fichiers sensibles 
.env
**/.env

# Scripts de test manuel
test_manuel/
app/test_manuel/

# Fichiers environment dupliqués dans app/
app/environment*.yml
optuna_test.ipynb
microsoft_exo1.ipynb
