name: CI/CD P7 Sentiment twitter

on:
  push:
    branches:
      - main
      - model_tfidf
  pull_request:
    branches:
      - main


jobs:

  # Build et tests
  tests:
    runs-on: ubuntu-latest

    steps:
      
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5 
        with: 
          python-version: '3.11'
      
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run tests # test unitaire
        run: |
          python -m unittest tests.test_model_lr -v
          python -m unittest tests.test_app -v

  # Deploy sur heroku
  deploy:
    runs-on: ubuntu-latest
    needs: tests
    if: github.ref == 'refs/heads/main' && github.event_name == 'push' # deployer si push sur main

    env:
      APPINSIGHTS_INSTRUMENTATION_KEY: ${{ secrets.APPINSIGHTS_INSTRUMENTATION_KEY }}
      RUN_MODE: prod

    steps:
      - name: Checkout code
        uses: actions/checkout@v4 # reclone du repo nouvelle VM)

      # Connexion au registre Docker de Heroku
      - name: Login to Heroku Container Registry   
        run: |
            echo "$HEROKU_API_KEY" | docker login \
              --username=_ \
              --password-stdin registry.heroku.com
        env:                     # Variables d’environnement pour cette étape
            HEROKU_API_KEY: ${{ secrets.HEROKU_API_KEY }} # lit la clé API depuis Secrets GitHub

      # Build l'mage docker
      - name: Build Docker Image         
        run: |
          docker build -t registry.heroku.com/${{ secrets.HEROKU_APP_NAME }}/web .      

      # Push de l'image
      - name: Push Docker image to Heroku   # On envoie l’image sur Heroku
        run: |
          docker push registry.heroku.com/${{ secrets.HEROKU_APP_NAME }}/web

      # Install la CLI Heroku dans la VM
      - name: Install Heroku CLI  #
        run: |
            curl https://cli-assets.heroku.com/install.sh | sh
      
      # release pour prod
      - name: Release app on Heroku   
        run: |
            heroku container:release web --app $HEROKU_APP_NAME
        env:                         # Variables d’environnement pour cette étape
            HEROKU_API_KEY: ${{ secrets.HEROKU_API_KEY }}
            HEROKU_APP_NAME: ${{ secrets.HEROKU_APP_NAME }}
